{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "printWidth": 100,
  "proseWrap": "always",
  "useTabs": false
}
